In [104]:
# import modules
import sqlite3 
import folium
from folium import plugins
from folium.plugins import HeatMap
import pandas as pd

In [105]:
conn = sqlite3.connect("database/world.db")

In [106]:
cursor = conn.cursor()

In [113]:
df = pd.read_sql_query("SELECT city, population, lat, lng FROM worldCities WHERE population > 500000", conn)

In [115]:
df.loc[df['city'] == "Hong Kong"]

         city  population   lat    lng
69  Hong Kong   7450000.0  22.3  114.2

In [108]:
df['population'] = df['population']/500000

In [109]:
pop_data = [[row['lat'], row['lng'], row['population']] for index, row in df.iterrows()]

In [110]:
m = folium.Map(location = (30,10), zoom_start = 3, tiles = 'cartodb positron')
HeatMap(pop_data).add_to(m)
folium.LayerControl().add_to(m)
m.save("worldPopulation.html")

In [72]:
df1 = pd.read_csv("worldcities.csv")

In [74]:
df1.to_sql('worldCities', con= conn,index=False, if_exists='replace')

In [77]:
conn.commit()

In [103]:
conn.close()